<div class="modal fade" id="developer_form" tabindex="-1" role="dialog"aria-labelledby="myModalLabel"   aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold edit-module"><%= @developer.new_record? ? 'Create developer' : 'Update Developer'%></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form">
          <div class="project-form">
            <%= form_for(@developer, remote: true)do |f| %>
              <%= f.text_field :name, class: "form-control mt-3", placeholder:"name", autofocus: true, autocomplete: "project", required: true%>
              <%= f.email_field :email, class: "form-control mt-3", placeholder:"Email", autofocus: true, autocomplete: "project", required: true%>
              <%= f.password_field :password, class: "form-control mt-3", placeholder:"Password", autofocus: true, autocomplete: "project", required: @developer.new_record?%>
              <small class="text-danger" id="name-error"></small>
              <div class="float-right mt-2">
                <%= f.submit @developer.new_record? ? 'Create' : 'Update', class:"btn btn-primary"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
